<div class="inicio">
  <div class="inicio__musica">
    <div class="wrapper">
      <h1>Música</h1>
      <p>Encuentra el recuerdo musical que te identifica</p><a href="#" class="button">Ver Canciones</a>
    </div>
  </div>
  <div class="inicio__artista">
    <div class="wrapper">
      <h1>AcetatosMX</h1>
      <p>Encuentra los mejores clásicos de todos los tiempos</p><a href="artistas.html" class="button">Ver Artistas</a>
    </div>
  </div>
</div>
<div class="inicio__info"></div>